{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('product_view', {'productId': product.id}) }}">View details</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}